.top_container{
    background-color: #F7B679;
    padding-top: 120px;
    padding-bottom: 20px;
    position: relative;
    margin-bottom: 20px;
}
body{
    margin: 0px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1{
    margin-top: 0px;
}
.middle_container{
    margin: 100px;
    
;
    
}
.profile{
    width: 50%;
    margin: 100px auto 100px auto;
}
.bottom_container{
    background-color:#F7B679 ;
    padding: 2rem;
    padding-bottom: 0.5rem;

    
}
.as{
    text-decoration: underline;
}
p{
    font-family: 'Fredoka', serif;
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 20px;
    color: rgb(41, 39, 39);


}
h1{
    font-family: 'Sacramento', cursive;
    font-size: 5rem;
    margin-bottom: 5px;
    color: #ff6600;
}
.cloud1{
    position: absolute;
    width: 150px;
    height: 100px;
    right: 100px;
    top: 50px;
}
.cloud2{
    position: absolute;
    width: 150px;
    height: 100px;
    left: 100px;
    top: 200px;
}
.algo1{
    position: absolute;
    width: 100px;
    height: 75px;
    top: 300px;
    right: 50px;
}
.algo2{
    position: absolute;
    top: 600px;
    left: 50px;
    width: 100px;
    height: 75px;
}
h3{
     font-family: 'Smooch Sans', sans-serif;
     font-size: 40px;
     color: #ff6600;

     

}
h2{
    font-family: 'Smooch Sans', sans-serif;
     font-size: 60px;
     color: #ff6600;
     text-decoration: underline;
     
}
.little{
    color: #016e72;
    font-family: 'Fredoka', serif;
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 1.5rem;

}
.footer-link{
    color: #016e72;
    font-family: 'Fredoka', serif;
    font-size: 2rem;
    padding: 3rem;
    text-decoration: none;

}
.footer-link:hover{
    color: whitesmoke;
}
hr{
    border-style: none;
            border-top-style: dotted;
            border-color: rgba(151, 148, 148, 0.904);
            border-width: 10px;
            width:10%;

            margin: 100px auto 100px auto;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.co{
    width: 40%;
    float: left;
    margin-right: 40px;
}
.cook{
    width: 40%;
    float:right;
    margin-left: 40px;
}
.btn {
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    font-family: 'Smooch Sans', sans-serif;
    color: #20594f;
    font-size: 25px;
    background: #F7B679;
    padding: 12px 20px 10px 20px;
    border: solid #00a1e6 3px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #ff6600;
    text-decoration: none;
  }
.contact-me{
    width: 50%;
    margin: 0px auto 100px auto;
}
.push{
    padding-bottom: 75px;
}